In [1]:
import pandas as pd
import numpy as np
from talib.abstract import *

In [2]:
pd.read_excel("BTC-USD.xlsx").head()
BTC = pd.read_excel("BTC-USD.xlsx")
BTC_modify=BTC.dropna()
BTC_modify=BTC_modify.reset_index(drop = True)
BTC_modify

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07
...,...,...,...,...,...,...,...
2430,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10
2431,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10
2432,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.263581e+11
2433,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,8.828194e+10
2434,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,7.462050e+10

In [3]:
inputs = {
    'open':BTC_modify["Open"].to_numpy(),
    'high':BTC_modify["High"].to_numpy(),
    'low': BTC_modify["Low"].to_numpy(),
    'close':BTC_modify["Close"].to_numpy(),
    'volume':BTC_modify["Volume"].to_numpy(),
    'penetration':0
}

In [4]:
def calculate_CDL(x):
    y=eval(x)
    BTC_modify[x]=0.0
    BTC_modify[x]=y(inputs)

In [5]:
columns_CDL=['CDL2CROWS','CDL3BLACKCROWS','CDL3INSIDE',
            'CDL3LINESTRIKE','CDL3OUTSIDE','CDL3STARSINSOUTH',
            'CDL3WHITESOLDIERS','CDLABANDONEDBABY','CDLADVANCEBLOCK',
            'CDLBELTHOLD','CDLBREAKAWAY','CDLCLOSINGMARUBOZU',
            'CDLCONCEALBABYSWALL','CDLCOUNTERATTACK','CDLDARKCLOUDCOVER',
            'CDLDOJI','CDLDOJISTAR','CDLDRAGONFLYDOJI',
            'CDLENGULFING','CDLEVENINGDOJISTAR','CDLEVENINGSTAR',
            'CDLGAPSIDESIDEWHITE','CDLGRAVESTONEDOJI','CDLHAMMER',
            'CDLHANGINGMAN','CDLHARAMI','CDLHARAMICROSS',
            'CDLHIGHWAVE','CDLHIKKAKE','CDLHIKKAKEMOD',
            'CDLHOMINGPIGEON','CDLIDENTICAL3CROWS','CDLINNECK',
            'CDLINVERTEDHAMMER','CDLKICKING','CDLKICKINGBYLENGTH','CDLLADDERBOTTOM',
            'CDLLONGLEGGEDDOJI','CDLLONGLINE','CDLMARUBOZU',
            'CDLMATCHINGLOW','CDLMATHOLD','CDLMORNINGDOJISTAR',
            'CDLMORNINGSTAR','CDLONNECK','CDLPIERCING',
            'CDLRICKSHAWMAN','CDLRISEFALL3METHODS','CDLSEPARATINGLINES',
            'CDLSHOOTINGSTAR','CDLSHORTLINE','CDLSPINNINGTOP',
            'CDLSTALLEDPATTERN','CDLSTICKSANDWICH','CDLTAKURI',
            'CDLTASUKIGAP','CDLTHRUSTING','CDLTRISTAR',
            'CDLUNIQUE3RIVER','CDLUPSIDEGAP2CROWS','CDLXSIDEGAP3METHODS']

In [6]:
for i in columns_CDL:
    calculate_CDL(i)
BTC_modify

,Date,Open,High,Low,Close,Adj Close,Volume,CDL2CROWS,CDL3BLACKCROWS,CDL3INSIDE,...,CDLSPINNINGTOP,CDLSTALLEDPATTERN,CDLSTICKSANDWICH,CDLTAKURI,CDLTASUKIGAP,CDLTHRUSTING,CDLTRISTAR,CDLUNIQUE3RIVER,CDLUPSIDEGAP2CROWS,CDLXSIDEGAP3METHODS
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2430,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2431,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2432,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.263581e+11,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2433,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,8.828194e+10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2434,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,7.462050e+10,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
BTC_final=BTC_modify.dropna()
BTC_final=BTC_final.reset_index(drop=True)
BTC_final

,Date,Open,High,Low,Close,Adj Close,Volume,CDL2CROWS,CDL3BLACKCROWS,CDL3INSIDE,...,CDLSPINNINGTOP,CDLSTALLEDPATTERN,CDLSTICKSANDWICH,CDLTAKURI,CDLTASUKIGAP,CDLTHRUSTING,CDLTRISTAR,CDLUNIQUE3RIVER,CDLUPSIDEGAP2CROWS,CDLXSIDEGAP3METHODS
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2430,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2431,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2432,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.263581e+11,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2433,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,8.828194e+10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2434,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,7.462050e+10,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df1=pd.DataFrame((BTC_final == 100).astype(int).sum(axis=1))
df2=pd.DataFrame((BTC_final == -100).astype(int).sum(axis=1))
temp = pd.concat([df1, df2], axis=1)
temp

      0  0
0     0  0
1     0  0
2     0  0
3     0  0
4     0  0
...  .. ..
2430  0  1
2431  0  0
2432  1  0
2433  0  0
2434  0  1

[2435 rows x 2 columns]

In [9]:
BTC_trade=BTC_final.iloc[:,0:6]
BTC_trade

,Date,Open,High,Low,Close,Adj Close
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014
...,...,...,...,...,...,...
2430,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719
2431,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344
2432,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406
2433,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281
2434,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531

In [10]:
BTC_trade['Average']=0.0
for i in range(len(BTC_final)):
    BTC_trade['Average'][i]=BTC_final.iloc[i,7:len(BTC_final)].mean()
BTC_trade

<ipython-input-10-a976a29117f2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Average'][i]=BTC_final.iloc[i,7:len(BTC_final)].mean()

,Date,Open,High,Low,Close,Adj Close,Average
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,0.000000
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,0.000000
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,0.000000
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,0.000000
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,0.000000
...,...,...,...,...,...,...,...
2430,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,-1.639344
2431,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,0.000000
2432,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.639344
2433,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,0.000000
2434,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,-1.639344

In [11]:
BTC_trade['Buy']=0
BTC_trade['Hold']=0
BTC_trade['Sell']=0
BTC_trade

,Date,Open,High,Low,Close,Adj Close,Average,Buy,Hold,Sell
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,0.000000,0,0,0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,0.000000,0,0,0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,0.000000,0,0,0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,0.000000,0,0,0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,0.000000,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2430,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,-1.639344,0,0,0
2431,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,0.000000,0,0,0
2432,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.639344,0,0,0
2433,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,0.000000,0,0,0
2434,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,-1.639344,0,0,0

In [12]:
for i in range(1, len(BTC_trade)):
    if BTC_trade.loc[i,'Average'] <0 and BTC_trade.loc[i-1,'Hold']==0:
        BTC_trade['Buy'][i]=1
        BTC_trade['Hold'][i]=1
        BTC_trade['Sell'][i]=0
    elif BTC_trade.loc[i,'Average'] > 0 and BTC_trade.loc[i-1,'Hold']==1:
        BTC_trade['Buy'][i]=0
        BTC_trade['Hold'][i]=0
        BTC_trade['Sell'][i]=1
    elif(BTC_trade.loc[i-1,'Hold']>0):
        BTC_trade['Buy'][i]=0
        BTC_trade['Hold'][i]=1
        BTC_trade['Sell'][i]=0
BTC_trade

<ipython-input-12-5ffddc4f16a9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Buy'][i]=1
<ipython-input-12-5ffddc4f16a9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Hold'][i]=1
<ipython-input-12-5ffddc4f16a9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Sell'][i]=0
<ipython-input-12-5ffddc4f16a9>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Buy'][i]=0
<ipython-input-12-5ffddc4f16a9>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Hold'][i]=1
<ipython-input-12-5ffddc4f16a9>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Sell'][i]=0
<ipython-input-12-5ffddc4f16a9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Buy'][i]=0
<ipython-input-12-5ffddc4f16a9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Hold'][i]=0
<ipython-input-12-5ffddc4f16a9>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Sell'][i]=1

,Date,Open,High,Low,Close,Adj Close,Average,Buy,Hold,Sell
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,0.000000,0,0,0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,0.000000,0,0,0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,0.000000,0,0,0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,0.000000,0,0,0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,0.000000,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2430,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,-1.639344,1,1,0
2431,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,0.000000,0,1,0
2432,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.639344,0,0,1
2433,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,0.000000,0,0,0
2434,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,-1.639344,1,1,0

In [13]:
BTC_trade["Number"]=0.0
BTC_trade["Value"]=0.0
BTC_trade["Return"]=0.0
BTC_trade.head(20)

,Date,Open,High,Low,Close,Adj Close,Average,Buy,Hold,Sell,Number,Value,Return
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,0.000000,0,0,0,0.0,0.0,0.0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,0.000000,0,0,0,0.0,0.0,0.0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,0.000000,0,0,0,0.0,0.0,0.0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,0.000000,0,0,0,0.0,0.0,0.0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,0.000000,0,0,0,0.0,0.0,0.0
5,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,0.000000,0,0,0,0.0,0.0,0.0
6,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,0.000000,0,0,0,0.0,0.0,0.0
7,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,0.000000,0,0,0,0.0,0.0,0.0
8,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,1.639344,0,0,0,0.0,0.0,0.0
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,0.000000,0,0,0,0.0,0.0,0.0
10,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,-1.639344,1,1,0,0.0,0.0,0.0
11,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,-3.278689,0,1,0,0.0,0.0,0.0
12,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,3.278689,0,0,1,0.0,0.0,0.0
13,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,0.000000,0,0,0,0.0,0.0,0.0
14,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,0.000000,0,0,0,0.0,0.0,0.0
15,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,-1.639344,1,1,0,0.0,0.0,0.0
16,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,-3.278689,0,1,0,0.0,0.0,0.0
17,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,0.000000,0,1,0,0.0,0.0,0.0
18,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,-1.639344,0,1,0,0.0,0.0,0.0
19,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,3.278689,0,0,1,0.0,0.0,0.0

In [14]:
initial = 10000
for i in range(5, len(BTC_trade)):
    if(BTC_trade['Buy'][i] == 1)and(BTC_trade['Hold'][i]== 1)and(BTC_trade['Sell'][i] == 0):#buy
        #持有数量=手中资本/标的的收盘价
        BTC_trade['Number'][i] = initial/BTC_trade['Adj Close'][i]
        #市值 = 持有數量* 該標的收盤價
        BTC_trade['Value'][i] = BTC_trade['Number'][i] * BTC_trade['Adj Close'][i]
        #期間報酬 = (市值-投入成本)/投入成本
        BTC_trade['Return'][i] = round((BTC_trade['Value'][i]-initial)/initial,4)
    elif(BTC_trade['Buy'][i] == 0)and(BTC_trade['Hold'][i] == 0)and(BTC_trade['Sell'][i] == 1):#sell
        #持有數量為 0 
        BTC_trade['Number'][i] = 0
        #市值 = 持有數量* 該標的收盤價
        BTC_trade['Value'][i] = BTC_trade['Number'][i-1] * BTC_trade['Adj Close'][i]
        #期間報酬 = (市值-投入成本)/投入成本
        BTC_trade['Return'][i] = round((BTC_trade['Value'][i]-initial)/initial,4)
    elif(BTC_trade['Buy'][i] == 0)and(BTC_trade['Hold'][i]==1)and(BTC_trade['Sell'][i] == 0):#hold
        BTC_trade['Number'][i] = BTC_trade['Number'][i-1]
        BTC_trade['Value'][i] = BTC_trade['Number'][i] * BTC_trade['Adj Close'][i]
        BTC_trade['Return'][i] = round((BTC_trade['Value'][i]-initial)/initial,4)
BTC_trade

<ipython-input-14-d0c3a4cd2f62>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Number'][i] = initial/BTC_trade['Adj Close'][i]
<ipython-input-14-d0c3a4cd2f62>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Value'][i] = BTC_trade['Number'][i] * BTC_trade['Adj Close'][i]
<ipython-input-14-d0c3a4cd2f62>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Return'][i] = round((BTC_trade['Value'][i]-initial)/initial,4)
<ipython-input-14-d0c3a4cd2f62>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Number'][i] = BTC_trade['Number'][i-1]
<ipython-input-14-d0c3a4cd2f62>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Value'][i] = BTC_trade['Number'][i] * BTC_trade['Adj Close'][i]
<ipython-input-14-d0c3a4cd2f62>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Return'][i] = round((BTC_trade['Value'][i]-initial)/initial,4)
<ipython-input-14-d0c3a4cd2f62>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Number'][i] = 0
<ipython-input-14-d0c3a4cd2f62>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Value'][i] = BTC_trade['Number'][i-1] * BTC_trade['Adj Close'][i]
<ipython-input-14-d0c3a4cd2f62>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Return'][i] = round((BTC_trade['Value'][i]-initial)/initial,4)

,Date,Open,High,Low,Close,Adj Close,Average,Buy,Hold,Sell,Number,Value,Return
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,0.000000,0,0,0,0.000000,0.000000,0.0000
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,0.000000,0,0,0,0.000000,0.000000,0.0000
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,0.000000,0,0,0,0.000000,0.000000,0.0000
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,0.000000,0,0,0,0.000000,0.000000,0.0000
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,0.000000,0,0,0,0.000000,0.000000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2430,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,-1.639344,1,1,0,0.229687,10000.000000,0.0000
2431,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,0.000000,0,1,0,0.229687,9855.731449,-0.0144
2432,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.639344,0,0,1,0.000000,8498.979373,-0.1501
2433,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,0.000000,0,0,0,0.000000,0.000000,0.0000
2434,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,-1.639344,1,1,0,0.251719,10000.000000,0.0000

In [15]:
BTC_trade["Holding_days"]=0.0
BTC_trade["Annualized_Return"]=0.0
BTC_trade

,Date,Open,High,Low,Close,Adj Close,Average,Buy,Hold,Sell,Number,Value,Return,Holding_days,Annualized_Return
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2430,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,-1.639344,1,1,0,0.229687,10000.000000,0.0000,0.0,0.0
2431,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,0.000000,0,1,0,0.229687,9855.731449,-0.0144,0.0,0.0
2432,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.639344,0,0,1,0.000000,8498.979373,-0.1501,0.0,0.0
2433,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
2434,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,-1.639344,1,1,0,0.251719,10000.000000,0.0000,0.0,0.0

In [16]:
start = 0
end = 0
for i in range(1, len(BTC_trade)):
    if(BTC_trade['Buy'][i] == 1):
        BTC_trade['Holding_days'][i] = 1
        start = BTC_trade['Date'][i]
    elif((BTC_trade['Hold'][i] == 1) or (BTC_trade['Sell'][i] == 1))and(BTC_trade['Buy'][i] == 0):
        end = BTC_trade['Date'][i]
        delta = (end - start).days
        BTC_trade['Holding_days'][i]= delta+1
BTC_trade.head(20)

<ipython-input-16-dfceaba4ee79>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Holding_days'][i] = 1
<ipython-input-16-dfceaba4ee79>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Holding_days'][i]= delta+1

,Date,Open,High,Low,Close,Adj Close,Average,Buy,Hold,Sell,Number,Value,Return,Holding_days,Annualized_Return
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
5,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
6,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
7,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
8,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,1.639344,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
10,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,-1.639344,1,1,0,25.030037,10000.000000,0.0000,1.0,0.0
11,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,-3.278689,0,1,0,25.030037,9440.854285,-0.0559,2.0,0.0
12,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,3.278689,0,0,1,0.000000,9397.953052,-0.0602,3.0,0.0
13,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
14,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
15,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,-1.639344,1,1,0,26.661548,10000.000000,0.0000,1.0,0.0
16,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,-3.278689,0,1,0,26.661548,9585.146362,-0.0415,2.0,0.0
17,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,0.000000,0,1,0,26.661548,8768.076660,-0.1232,3.0,0.0
18,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,-1.639344,0,1,0,26.661548,8545.293109,-0.1455,4.0,0.0
19,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,3.278689,0,0,1,0.000000,8800.417464,-0.1200,5.0,0.0

In [17]:
for i in range(1, len(BTC_trade)):
    if(BTC_trade['Buy'][i]==1)or(BTC_trade['Hold'][i]==1)or(BTC_trade['Sell'][i]==1):
        BTC_trade['Annualized_Return'][i] = (1+BTC_trade['Return'][i])**(365/BTC_trade['Holding_days'][i])-1
BTC_trade

<ipython-input-17-55fd2f6d0f6e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Annualized_Return'][i] = (1+BTC_trade['Return'][i])**(365/BTC_trade['Holding_days'][i])-1

,Date,Open,High,Low,Close,Adj Close,Average,Buy,Hold,Sell,Number,Value,Return,Holding_days,Annualized_Return
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.000000
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.000000
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.000000
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.000000
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2430,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,-1.639344,1,1,0,0.229687,10000.000000,0.0000,1.0,0.000000
2431,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,0.000000,0,1,0,0.229687,9855.731449,-0.0144,2.0,-0.929144
2432,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.639344,0,0,1,0.000000,8498.979373,-0.1501,3.0,-1.000000
2433,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,0.000000,0,0,0,0.000000,0.000000,0.0000,0.0,0.000000
2434,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,-1.639344,1,1,0,0.251719,10000.000000,0.0000,1.0,0.000000

In [18]:
# annual return computation
# https://www.investopedia.com/terms/a/annualized-total-return.asp
period_return = 1
annual_return = 1
trading_counts = 0
for i in range(1, len(BTC_trade)):
    if(BTC_trade['Sell'][i]==1):
        period_return = period_return * (1+BTC_trade['Return'][i])
        annual_return = annual_return * (1+BTC_trade['Annualized_Return'][i])
        trading_counts = trading_counts + 1
print('trading_counts: ',trading_counts)
final_period_return = period_return**(1/trading_counts)-1
print('final_period_return:',final_period_return)
final_annual_return = annual_return**(1/trading_counts)-1
print('final_annual_return:',final_annual_return)

trading_counts:  479
final_period_return: 0.0022873146373685316
final_annual_return: 2.8176279022907553